@use 'variavel' as v;


body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: v.$cor-letra;
  background: v.$gradiente1;
  min-height: 100vh;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}