$cor-fundo1:#02735E;
$cor-letra: #ffffff;
$gradiente1:linear-gradient(135deg, #014034, #0d0d0d);
$gradiente2:linear-gradient(135deg, #038C73, #014034);
$sombra: 0 3px 8px rgba(0, 0, 0, 0.2);
$fonte-depoimento:italic;
$borda:2em;
